body{
	font-family: 'Roberto', sans-serif;
}

#header{
	.logo{
		font-weight:700;
		font-family: 'Roberto', sans-serif;
		font-size:36px;
		display:inline-block;

	}
	.menu{
		display:inline-block;
		float:right;

		a{

		font-size: 16px;
		font-weight: 300;

		li{
		display:inline-block;
			}

		}

	}

}